[submodule "Vendor/TouchDB-iOS"]
	path = Vendor/TouchDB-iOS
	url = git://github.com/couchbaselabs/TouchDB-iOS.git
[submodule "Vendor/CouchCocoa"]
	path = Vendor/CouchCocoa
	url = git://github.com/couchbaselabs/CouchCocoa.git
[submodule "Vendor/QuickDialog"]
	path = Vendor/QuickDialog
	url = git@github.com:escoz/QuickDialog.git
